# Dependencies
node_modules
.pnpm-store
.pnpm-debug.log

# Build Outputs
dist
.next
out
build

# System files
.DS_Store
Thumbs.db
*.log

# Testing & Reports
test-results
playwright-report
coverage
.vitest
