@import "../../../../packages/react/src/styles/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans);
  min-height: 100vh;
  transition: background-color 0.2s ease, color 0.2s ease;
}
